@import "tailwindcss";

/* 
* {
    -webkit-font-smoothing: antialiased
} */

@theme{
    --color-green-base: #123F34;
    --color-orange-base: #FA8D01;
    --color-orange-card: #DA5600;
}

.border-gradient {
    padding: 1px;
    background: linear-gradient(to bottom, #FA8D01, #123F34);
    border-radius: 16px;
}

.gradient{
    background: linear-gradient(to bottom, #123F34, #FA8D01, #123F34);
}

input{
    background-color: white;
    margin: 10px;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    min-width: 90%;
}

button{
    background-color: #123F34;
    border-radius: 10px;
    height: 60px;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: large;
    
}
button:hover {
    filter: brightness(1.1);
    cursor: pointer;
}

.btn-home{
    background-color: #FA8D01;
        border-radius: 10px;
        height: 50px;
        color: white;
        font-weight: bold;
        font-size: large;
}